body {
  font-family: "Roboto", sans-serif;
}

.card {
  width: 400px;
  margin-left: 20px;
}

h2 {
  font-weight: 900;
  line-height: 1.3;
}

p {
  font-size: 14px;
  line-height: 1.6;
}

a {
  font-size: 15px;
  display: inline-block;
  margin-top: 8px;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 22px;
  padding: 8px 16px;
}

a:hover {
  background-color: black;
  color: white;
}
